.icon-search-black {
  background: url('@/assets/images/icon-search-black.svg') no-repeat right center;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
  display: inline-block;
}
.icon-arrow-down-solid {
  // background: url('@/assets/icons/icon-arrow-down-solid.svg') no-repeat right center;
  background: url('@/assets/icons/icon-arrow-down-solid.svg') no-repeat right center;
  background-size: auto 4px;
  height: 4px;
  width: 8px;
  display: inline-block;
}
.icon-chat-black {
  background: url('@/assets/icons/icon-chat-black.svg') no-repeat center center;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
  display: inline-block;
}
.icon-naver {
  background: url('@/assets/icons/icon-naver.svg') no-repeat center center;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
  display: inline-block;
}
.icon-appale {
  background: url('@/assets/icons/icon-appale.svg') no-repeat center center;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
  display: inline-block;
}
.icon-user{
  background: url('@/assets/icons/user.svg') no-repeat center center;
  background-size: auto 50px;
  height: 50px;
  width: 50px;
  display: inline-block;
}
.icon-building-symbol{
  background: url('@/assets/icons/building-symbol.svg') no-repeat center center;
  background-size: auto 50px;
  height: 50px;
  width: 50px;
  display: inline-block;
}
.icon-login-tip{
  background: url('@/assets/icons/icon-login-tip.svg') no-repeat center center;
  background-size: auto 20px;
  height: 20px;
  width: 20px;
  display: inline-block;
}
.icon-required{
  background: url('@/assets/icons/icon-required.svg') no-repeat center center;
  background-size: auto 8px;
  height: 8px;
  width: 8px;
  display: inline-block;
}
.green-tick-circle {
  background: url('@/assets/images/green-tick-circle.png') no-repeat center center;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
  display: inline-block;
}
.icon-grey-star {
  background: url('@/assets/icons/icon-grey-star.svg') no-repeat center center;
  background-size: auto 20px;
  height: 20px;
  min-width: 20px;
  display: inline-block;
}
.icon-dark-grey-star {
  background: url('@/assets/icons/dark-grey-star.png') no-repeat center center;
  background-size: auto 20px;
  height: 20px;
  min-width: 20px;
  display: inline-block;
}
.pagination-arrow-right {
  background: url('@/assets/icons/pagination-arrow-right.svg') no-repeat center center;
  background-size: auto 24px;
  height: 24px;
  min-width: 24px;
  display: inline-block;
}
.pagination-arrow-left {
  background: url('@/assets/icons/pagination-arrow-left.svg') no-repeat center center;
  background-size: auto 24px;
  height: 24px;
  min-width: 24px;
  display: inline-block;
}
.icon-info {
  background: url('@/assets/icons/rabbit-icon.png') no-repeat center center;
  background-size: auto 24px;
  height: 24px;
  min-width: 24px;
  display: inline-block;
}
.icon-plus {
  background: url('@/assets/icons/icon-plus.svg') no-repeat center center;
  background-size: auto 24px;
  height: 24px;
  min-width: 24px;
  display: inline-block;
}
.login-icon {
  background: url('@/assets/icons/login-icon.svg') no-repeat center center;
  background-size: auto 20px;
  height: 20px;
  min-width: 20px;
  display: inline-block;
}
.login-icon-green {
  background: url('@/assets/icons/login-green.png') no-repeat center center;
  background-size: auto 20px;
  height: 20px;
  min-width: 20px;
  display: inline-block;
}
.icon-close-search {
  background: url('@/assets/icons/icon-close-search.svg') no-repeat center center;
  background-size: auto 20px;
  height: 20px;
  min-width: 20px;
  display: inline-block;
}
.icon-close-gry {
  background: url('@/assets/icons/icon-close-gry.svg') no-repeat center center;
  background-size: auto 24px;
  height: 24px;
  min-width: 24px;
  display: inline-block;
}
.icon-delete {
  background: url('@/assets/icons/icon-delete.svg') no-repeat center center;
  background-size: auto 20px;
  height: 20px;
  min-width: 20px;
  display: inline-block;
}
.icon-mobile-search {
  background: url('@/assets/icons/icon-mobile-search.svg') no-repeat center center;
  background-size: auto 32px;
  height: 32px;
  min-width: 32px;
  display: inline-block;
}
.icon-menu-downArw {
  background: url('@/assets/icons/icon-menu-downArw.svg') no-repeat center center;
  background-size: auto 24px;
  height: 24px;
  min-width: 24px;
  display: inline-block;
}
.icon-menu-delete {
  background: url('@/assets/images/delete.png') no-repeat center center;
  background-size: auto 20px;
  height:   20px;
  min-width: 18px;
  display: inline-block;
}
.icon-menu-add {
  background: url('@/assets/images/add.png') no-repeat center center;
  background-size: auto 24px;
  height:   24px;
  min-width: 24px;
  display: inline-block;
}
.icon-leftArw {
  background: url('@/assets/icons/rightArw.svg') no-repeat center center;
  background-size: auto 30px;
  height:   30px;
  width: 30px;
  display: inline-block;
}
.icon-star-blue {
  background: url('@/assets/icons/icon-star-blue.svg') no-repeat center center;
  background-size: auto 20px;
  height:   20px;
  width: 20px;
  display: inline-block;
}
.search-icon-mob-black {
  background: url('@/assets/icons/search-icon-mob-black.svg') no-repeat center center;
  background-size: auto 32px;
  height:   32px;
  width: 32px;
  display: inline-block;
}

.left-poligon {
  background: url('@/assets/icons/right-poligon.png') no-repeat center center;
  background-size: auto 93px;
  width: 51px;
  height: 93px;
  min-width: 93px;
  display: inline-block;
}
.right-poligon {
  background: url('@/assets/icons/right-poligon.png') no-repeat center center;
  background-size: auto 93px;
  width: 51px;
  height: 93px;
  min-width: 93px;
  display: inline-block;
}