.my-recipe-section{
    margin-top: 80px;
    .heading{
        h1{
            font-weight: 700;
            font-size: 40px;
            line-height: 100%;
            color: $green-68;
        }
    }
    .my-recipe-body{
        margin-top: 80px;
        .row-type{
            h2{
                font-weight: 700;
                font-size: 24px;
                line-height: 100%;
                color: $grey-4C;
            }
            &.type-1{
                h2{
                    border-bottom: 1px solid $grey-CF;
                    padding-bottom: 20px;
                }
            }
        }
    }
}