$default-font: "Pretendard-Regular";
$Pretend-thin: 'Pretendard-thin';
$Pretend-light: 'Pretendard-light';
$Pretend-medium: 'Pretendard-Medium';
$Pretend-semibold:'Pretendard-SemiBold';
$Pretend-bold: 'Pretendard-Bold';
$Pretend-extrabold:'Pretendard-Extrabold';
$ballast-font: "Ballast";
$chungbuk-font: 'Chungbuk National University';

// black
$black-1: #252525;
$black-2: #3b3b3b;
$black-3: #434343;
$black-18: #181818;
$black-00: #000000;
$black-33: #333333;
$black-3A: #393A3A;
$black-2E: #24212E;
$black-4C: #4C4C4C;

//grey
$grey-1: #cccccc;
$grey-66: #666666;
$grey-E0: #E0E0E0;
$grey-82: #828282;
$grey-CF: #CFCFCF;
$grey-A4: #A4A4A4;
$grey-4C: #4C4C4C;
$grey-7C: #7C7A82;
$grey-BF: #BFBFBF;
$grey-BD: #BDBDBD;
$grey-9:#F2F2F2;
$grey-EF: #EAEBEF;
//green
$green-68: #16AE68;
$green-5A: #03C75A;
$green-53: #219653;
$green-45: #45BE86;
$green-d0: #D0EFE1;

// orange
$orange-1: #d3766a;


//yellow
$yellow-50: #FEE500;

// text color
$white-1: #ffffff;
$white-F2: #F2F2F2;
$white-FA: #FAFAFA;

// red
$red: #ef4444;
$red-2: #FF0000;
$red-3: #EB5757;


// purple

$purple-F4: #9642F4;
$purple-dc: #DCE3FA;
$purple-ea: #EAD9FD;

// Blue

$blue-E8: #5273E8;
$blue-F1: #97ABF1;